import { expect } from 'chai';
import someAction from '../../src/actions/someAction';
import actionTypes from '../../src/constants/actionTypes';

describe('some action', () => {
  it('should create some action', () => {

    const payload = 'this is a payload';

    expect(someAction(payload)).to.deep.equal({
      type: SOME_ACTION,
      data: payload,
    });
  });
});
